// Example Stylus file

body, html
  height 100%

body
  padding-top: 60px;
  font normal 1em
  text-align center

body a:hover
  text-decoration none

.icon-twitter
  color #0088cc

.navbar .avatar
  max-height 24px
  padding 0 5px

.upload-area
  border 10px dashed #ccc
  width 150px
  min-height 150px
  margin auto auto

.upload-area.hover
  border  10px dashed green

#file
  opacity 0
  -moz-opacity 0