.navbar-inner
  .container
    a.brand(href="#")
      | Slidy
    .nav-collapse
      ul.nav.pull-right
        {{#user}}
        li.navbar-text
          img.avatar.img-rounded(src="{{user.avatar}}")
          | {{user.name}}
        li.divider-vertical
        li
          a(href="/logout")
            | Logout
        {{/user}}

        {{^user}}
        li.dropdown
          a.dropdown-toggle(href="#", data-toggle="dropdown")
            | Login
            b.caret
          ul#d.dropdown-menu(role="menu")
            li.login
            a(href="/auth/twitter")
              i.icon-twitter
              | twitter

        {{/user}}