!!! 5
head
  script(src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js")
  link(rel="stylesheet", href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.0/css/bootstrap-combined.min.css")
  link(rel="stylesheet", href="//netdna.bootstrapcdn.com/font-awesome/3.0.2/css/font-awesome.css")
  != SocketStream
  meta(charset="utf-8")
  title Welcome
  script(src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.0/js/bootstrap.min.js")
html(lang="en")
  body
    #dashboard.navbar.navbar-inverse.navbar-fixed-top

    .container-fluid
      .hero-unit
        p
          | Drop or Tap
        include ../templates/uploader
//    #slider
//        img(src="/images/slider/slide-1.jpg")
//        img(src="/images/slider/slide-2.jpg")
//        img(src="/images/slider/slide-3.jpg")
//        img(src="/images/slider/slide-4.jpg")
//        img(src="/images/slider/slide-5.jpg")
//        img(src="/images/slider/slide-6.jpg")
//        img(src="/images/slider/slide-7.jpg")